extends main_layout.pug

block links
  ul.text-center.flex.h-full.justify-center.flex-col
      li.text-white
          a(href='/high_memory') High Memory
      li.text-white 
          a(href='/high_cpu') High CPU
